.background {
    width: 100vw;
    height: 100vh;
    background-image: url(../tools/home/background.png);
}

.allcontent {
    display: flex;
    height: 52vw;
    width: 100%;
    flex-direction: column;
}

.header_ {
    width: 100%;
    height: 10%;
}

.content_{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    width: 100%;
}

.navbar{
    height: 100%;
    width: 10%;
    display: flex;
}

.page{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.status{
    height: 44vw;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

