@import url("../tools/fonts.scss");

.font1::-webkit-input-placeholder {
    font-family: Myfont_m;
    color: #A8DADC;
}

.font2
{
    font-family: Myfont_b;
    
}

.font3
{
    font-family: Myfont_m;
    
}

.st::placeholder
{
    color: #457B9D;
    font-size: 0.8vw;
}

.shdw
{
    box-shadow: 0.2vw 0.2vw 0.15vw rgba(29, 53, 87, 0.48), inset 0.4vw 0.3vw 0.7vw rgba(0, 0, 0, 0.25);
}



.checkbox input
{
    visibility: hidden;
}

  .checkbox {
    width: 2vw;
    height: 0.9vw;
    background: #F0B5B5;
    position: relative;
    border-radius: 2vw;
  }

.checkmark
{
    display: block;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 4%;
    margin: auto;
    background: #E63946;

}

  .checkbox input:checked + .checkmark {
    left: 55%;

  }

