.st-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #457B9D 0%, #1D3557 100%);

}

.user-name::placeholder{
    color: var(--blue);
}

.user-name{
    .username_input::placeholder{
        color: var(--blue);
        // font-size: vw;
    }
    font-size: 0.6vw;
    font-family: Myfont_l;
    width: 90%;
    height: auto;
    text-align: center;
    border: none;
    outline: none;
    background: none;
}

.user-name-input{
    background-color: #1D3557;
    border-radius: 2vw;
    box-shadow: 0.2vw 0.2vw 0.15vw rgba(29, 53, 87, 0.48),
    inset 0.4vw 0.3vw 0.7vw rgba(0, 0, 0, 0.25);
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.img-st{
    
}

.input-2fa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-2fa input {
    border-radius: 0.5vw;
    height: 80%;
    width: 13%;
    font-size: 2vw;
    text-align: center;
    background-color: var(--lightBlue);
}