@import url("../../tools/fonts.scss");

.font1::-webkit-input-placeholder {
    font-family: Myfont_m;
    color: #A8DADC;
}

.font2
{
    font-family: Myfont_b;
    
}



.frame::-webkit-scrollbar {
    
    width: 0.4vw;
    
    

}

.frame::-webkit-scrollbar-thumb:hover{
    background: #a8dadc71;
    border-radius: 1.5vw;
    height: 80%;
    
}




